@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom animations if needed outside of Tailwind config */
